---
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "css/front.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="content">
            {% if site.front_img %}
            <img src="{{ site.front_img_path }}" id="fullscreen">
            {% endif %}

            {% if site.avatar %}
                <img src="{{ site.avatar_img_path }}" id="avatar">
            {% endif %}

            <h1>{{ site.name }}</h1>
            <h3>{{ site.description }}</h3>
            <h3>{{ site.description2 }}</h3>
            <h3 style="font-weight:normal;"><a href="mailto:{{ site.email }}" style="border:none;">{{ site.email }}</a></h3>

                <ul>
                    <li><a class="fa fa-2x fa-th" target="_blank" href="http://vanesagonzalez.carbonmade.com"><span class="description">Portfolio</span></a></li>
                    <li><a class="fa fa-2x fa-instagram" target="_blank" href="http://instagram.com/{{ site.instagram_username }}"><span class="description">Instagram</span></a></li>
                    <li><a class="fa fa-2x fa-pinterest" target="_blank" href="https://pinterest.com/{{ site.pinterest_username }}"><span class="description">Pinterest</span></a></li>
                    <li><a class="fa fa-2x fa-twitter" target="_blank" href="https://twitter.com/{{ site.twitter }}"><span class="description">Twitter</span></a></li>
                </ul>
        </div>

    </body>
</html>
